lex.yy.c
y.tab.c
y.tab.h
y.output
**/AI/AI_project/eigen/
**/AI/AI_project/frugally-deep/
**/AI/AI_project/FunctionalPlus/
**/AI/AI_project/json/
**/AI/bin
**/AI/include
**/AI/lib
**/AI/lib64
**/AI/share
**/AI/pyvenv.cfg